*{
    margin: 0;
    padding-left: 0;
    font-family: tahoma;
}

.conteiner{
    max-width: 1280px;
    margin: 0 ;
    padding: 0 auto;
}
/*MENU*/
header{
    height: 120px;
    background: linear-gradient(to bottom, #482c21, #a73e2b);
}
.logo img{
    width: 120px;
}
.logo{
    float: left;
}
.menu{
    float: right;
}
.menu ul{
    margin-top: 45px;
}
.menu li{
    display: inline-block;
    padding: 0 10px;
}
.menu a{
    color: #9c9c9c;
    text-decoration: dashed;
}
.menu a:hover{
    color: #2f615e;
}

.bnt{
    display: flex;
    justify-content: flex-end;
}
.bnt input[type="submit"]{
    padding: 10px;
    background-color: #542f0c;
    color: #eed582;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
    border: #542f0c; 
}
.bnt input:hover{
    background-color:chocolate ;
    color: #542f0c;
}

.clear{
    clear: both;
}

/*voce sabia*/

.container-vocesabia{
    display: flex;
    background-color: #482c21;
    width: 100%;
    justify-content: center;
}

.voce-sabia{
    padding:20px; 
    width: 40%;
    background-color: #eed582;
     background-size: cover;
    background-position: center;
}

.voce-sabia img{
    width:450px ;
    justify-content: center;
     margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    
}

.text-vs{
    width: 40%;
    float: right;
    display: inline;
    margin-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
    background-color: aqua;
}

p a{
    text-decoration: none;
}
 
/*banner*/
.banner{
    background: url('../img/Rectangle\ 7.png');
    width: 100%;
    height: 520px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
}