*{
    margin: 0;
    padding-left: 0;
    font-family: tahoma;
}

.conteiner{
    max-width: 1280px;
    margin: 0 ;
    padding: 0 auto;
}
/*MENU*/
header{
    height: 120px;
    background: linear-gradient(to bottom, #482c21, #a73e2b);
}
.logo img{
    width: 120px;
}
.logo{
    float: left;
}
.menu{
    float: right;
}
.menu ul{
    margin-top: 45px;
}
.menu li{
    display: inline-block;
    padding: 0 10px;
}
.menu a{
    color: #9c9c9c;
    text-decoration: dashed;
}
.menu a:hover{
    color: #2f615e;
}
